spring:
  application:
    name: portfolio
  datasource:
    url: jdbc:h2:mem:portfolio;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
  jpa:
    properties:
      hibernate:
        default_schema: portfolio_app
    hibernate:
      ddl-auto: none
  h2:
    console:
      enabled: true
  liquibase:
    enabled: true
    change-log: classpath:changelog/changelog-master.yaml
    default-schema: portfolio_app
    liquibase-schema: public

